header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.mobile-nav {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}
  
.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.card {
    display: flex;
    width: 500px;
    height: 100px;
    margin-top: 100px;
    border: 3px solid;
    border: 3px solid;
    margin-right: 20px;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 130px;
    height: 100px;
}

.card-body {
    text-align: left;
    margin-left: 2rem;
}

.card-title {
    font-size: x-large;
}

.card-text {
    font-size: large;
    margin-top: 8px !important;
}

.icons {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.navbar {
    display: none;
}

.mainMenu {
    display: none;
    list-style: none;
}

/* media queries */
@media (max-width: 768px) {
    .web-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .openMenu {
        font-size: 2rem;
        margin: 20px;
        display: block;
        cursor: pointer;
    }
    .mainMenu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
    }
    .closemenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }   
}